/* ==============================================================
   Color
   ============================================================== */

$text-color:        #333;
$link-color:        #0044f5;
$selection-color:   #fcd728;