/* ==============================================================
   Typography
   ============================================================== */

/* Example use: @extend .basefont-bold */

.basefont {
  font-family: $helvetica;
  font-style: normal;
  font-weight: normal;
}

.basefont-bold {
  @extend .basefont;
  font-weight: bold;
}

.altfont {
  font-family: $georgia;
  font-style: normal;
  font-weight: normal;
}

.altfont-bold {
  @extend .basefont;
  font-weight: bold;
}