/*  === Fonts ===
    ================================================= */

/* Example use: @extend .basefont-bold */

.basefont {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.basefont-bold {
  @extend .basefont;
  font-weight: bold;
}

.altfont {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.altfont-bold {
  @extend .basefont;
  font-weight: bold;
}


/*  === Font Sizes ===
    ================================================= */

/* All font sizes should be provided as rems, with a 
 * pixel fallback for older browsers. */
 
/* Example use: @include typeset(14) */

@mixin typeset ($font-size: 16, $line-height: auto) {
  font-size: $font-size + px;
  font-size: ($font-size / 10) + rems;
  line-height: $line-height;
}